@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap')
	;

/* auteurs: Dorothée et Lydie */

*
{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
}

body 
{
	background-color: #f2f2f2;
}

h1,h2
{
	color: darkgreen;
	font-family: 'Abril Fatface', cursive;
}

h4
{
	text-align: center;
	color: darkgreen;
	margin-bottom: 0px;
}

h3
{
	margin-bottom: 0px;
}

#header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#topmain 
{
	display: wrap;
}

#bottomsection
{
	display: flex;
	flex-direction: column;
  text-align: center;
}

#articles
{
	display: flex;
	justify-content: space-around;
}

#recherche
{
	display: flex;
	justify-content: space-around;
}

.article1, .article2, .article3
{
	border:  1px black;
	border-style: solid;
	border-radius: 0px;
	outline:  none;
	text-align: center;
}

.element4, .element5
{
	text-align: center;
}
