/*
*@auteur Lydie et Dorothée
*
*/
#header
{
    display: flex;
    flex-direction: column;
}

#main
{
    display: flex;
}

#footer
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

*
{
  max-width: 800px;
  margin-top: 20px;
  margin-left: 40px;
  padding-left: 20px;
}

h1,h2,h3,h4,h5,h6
{
	color: green;
}

p
{
	font-family: "times new roman";
}

img
{
	width: 20%;
	height: auto;
}

blockquote 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 100px;
}

#quote
{
	width: 30%;
}

blockquote 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 100px;
	color: grey;
}

#conteneur
{
    display: flex;
}