@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap')
	;

body {
	background-color: #f2f2f2;
	text-align: center;
}

#logo {
	margin-top: 30px;
	text-align: center;
}

#error {
	color: red;
}

h1, h2 {
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	color: darkgreen;
}

#prenom-block {
	text-align: center;
}

.form-text-block {
	justify-content: space-between;
}


#register-form, h2 {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: 0 auto;
}

#creation-btn {
	margin-bottom: 20px;
	border: none;
	background-color: darkgreen;
	color: #ffffff;
	text-decoration: none;
}


.form-block {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.form-text-block {
	justify-content: space-between;
}

.form-block tr {
	border-radius: 0px;
	border: 1px solid black;
	outline: none;
}

#creation-btn, #cancel-btn {
	text-transform: uppercase;
	padding: 10px 0;
}

#cancel-btn {
	margin-bottom: 20px;
	border: 2px solid darkgreen;
	background-color: white;
}
